<h1>Muokkaa elokuvaa {{movie.name}}</h1>
<form name="movieForm">
    <div class="form-group">
        <label>Nimi</label>
        <input name="moviename" class="form-control" type="text" ng-model="movie.name" required ng-minlength="1">
        <div ng-show="movieForm.moviename.$invalid && movieForm.moviename.$dirty">
            Nimi ei saa olla tyhjä.
        </div>
    </div>
    <div class="form-group">
        <label>Ohjaaja</label>
        <input name="director" class="form-control" type="text" ng-model="movie.director" required ng-minlength="1">
        <div ng-show="movieForm.director.$invalid && movieForm.director.$dirty">
            Ohjaaja ei saa olla tyhjä.
        </div>
    </div>
    <div class="form-group">
        <label>Julkaisuvuosi</label>
        <input name="release" class="form-control" type="text" ng-model="movie.release" required ng-minlength="4" && required ng-pattern="/^\d+$/">
        <div ng-show="movieForm.release.$invalid && movieForm.release.$dirty">
            Julkaisuvuosi pitää olla neljä merkkiä ja numeroita.
        </div>
    </div>
    <div class="form-group">
        <label>Kuvaus</label>
        <textarea class="form-control" name="description" ng-model="movie.description" required ng-minlength="1">
        <div ng-show="movieForm.director.$invalid && movieForm.director.$dirty">
            Kuvaus ei saa olla tyhjä.
        </div>
    </div>
    <textarea class="form-control">
        
    </textarea>
    <button type="submit" class="btn btn-primary" ng-disabled="movieForm.$invalid" ng-click="editMovie()">Muokkaa</button>
</form>