<h1>Kirjaudu sisään</h1>
<form name="loginForm">
    <div class="form-group">
        <label>Sähköposti</label>
        <input name="email" class="form-control" type="text" ng-model="email" required  ng-pattern="/^.+@.+\..+$/">
        <div ng-show="loginForm.email.$invalid && loginForm.email.$dirty">
            Sähköpostin tulee olla oikeaa muotoa joku@jossain.com.
        </div>
    </div>
    <div class="form-group">
        <label>Salasana</label>
        <input name="password" class="form-control" type="password" ng-model="password" required ng-minlength="1">
        <div ng-show="loginForm.password.$invalid && loginForm.password.$dirty">
            Salasana ei saa olla tyhjä.
        </div>
    </div>
    <button type="submit" class="btn btn-primary" ng-disabled="loginForm.$invalid" ng-click="logIn()">Kirjaudu sisään</button>
</form>
<span ng-if="message">{{message}}</span>