<form name="movieForm">
    <h2>Lisää elokuva</h2>
    <p>
        <label>Nimi</label>
        <input name="moviename" type="text" ng-model="namefield" required ng-minlength="1">
        <div ng-show="movieForm.moviename.$invalid && movieForm.moviename.$dirty">
            Nimi ei saa olla tyhjä.
        </div>
    </p>
    <p>
        <label>Ohjaaja</label>
        <input name="director" type="text" ng-model="directorfield" required ng-minlength="1">
        <div ng-show="movieForm.director.$invalid && movieForm.director.$dirty">
            Ohjaaja ei saa olla tyhjä.
        </div>
    </p>
    <p>
        <label>Julkaisuvuosi</label>
        <input name="release" type="text" ng-model="releasefield" required ng-minlength="4" && required ng-pattern="/^\d+$/">
        <div ng-show="movieForm.release.$invalid && movieForm.release.$dirty">
            Julkaisuvuosi pitää olla neljä merkkiä ja numeroita.
        </div>
    </p>
    <p>
        <label>Kuvaus</label>
        <input name="description" type="text" ng-model="descriptionfield" required ng-minlength="1">
        <div ng-show="movieForm.director.$invalid && movieForm.director.$dirty">
            Kuvaus ei saa olla tyhjä.
        </div>
    </p>
    <button type="submit" ng-disabled="movieForm.$invalid" ng-click="createNewMovie()">Lisää</button>
</form>