<h1>Rekisteröidy</h1>
<form name="registerForm">
    <div class="form-group">
        <label>Sähköposti</label>
        <input name="newEmail" class="form-control" type="text" ng-model="newEmail" required  ng-pattern="/^.+@.+\..+$/">
        <div ng-show="registerForm.newEmail.$invalid && registerForm.newEmail.$dirty">
            Sähköpostin tulee olla oikeaa muotoa joku@jossain.com.
        </div>
    </div>
    <div class="form-group">
        <label>Salasana</label>
        <input name="newPassword" class="form-control" type="password" ng-model="newPassword" required ng-minlength="1">
        <div ng-show="registerForm.newPassword.$invalid && registerForm.newPassword.$dirty">
            Salasana ei saa olla tyhjä.
        </div>
    </div>
    <div class="form-group">
        <label>Salasana toistamiseen</label>
        <input name="passwordConfirm" class="form-control" type="password" ng-model="passwordConfirm" match="newPassword">
        <div ng-show="registerForm.passwordConfirm.$invalid && registerForm.passwordConfirm.$dirty">
            Salasanat eivät täsmää.
        </div>
    </div>
    <button type="submit" class="btn btn-primary" ng-disabled="registerForm.$invalid" ng-click="register()">Rekisteröidy</button>
</form>
<span ng-if="message">{{message}}</span>